---

---
<footer id="main-footer">
    <div class="footer-group left">
        <span>P.IVA 14570940966</span>
       <!--  <a href="https://instagram.com" target="_blank" class="footer-link">Instagram</a> -->
    </div>
    <div class="footer-group center">
        <span>&copy; 2026 Michele Occhi</span>
        <!-- <span>P.IVA 14570940966</span> -->
    </div>
    <div class="footer-group right">
        <a href="#" class="footer-link">Privacy Policy</a>
        <a href="#" class="footer-link">Cookie Policy</a>
    </div>
</footer>

<style>
     #main-footer {
    background-color: var(--text-light);
    color: var(--dark-text);
    font-family: "JetBrains Mono", monospace;
    font-size: 11px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    width: 100%;
    padding: 20px 60px 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    z-index: 11;
    flex-wrap: wrap;
    gap: 20px;


}
 .footer-group {
   display: flex;
   gap: 20px;
}
 .footer-link {
   text-decoration: none;
   color: inherit;
   opacity: 0.6;
   transition: opacity 0.3s;
   cursor: pointer !important;
}
 .footer-link:hover {
   opacity: 1;
   text-decoration: underline;
}
 .footer-group span {
   opacity: 0.6;
}
 .insta-link {
    text-decoration: none;
    color: inherit;
}
@media (max-width: 768px) {
    #main-footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 40px 20px;
        gap: 30px;
    }

    .footer-group {
        flex-direction: column;
        gap: 10px;
    }

    .footer-group.center {
        order: 3; /* Mette il copyright in fondo */
    }
    
    .footer-group.left {
        order: 1;
    }

    .footer-group.right {
        order: 2;
    }
}
</style>