---
const { 
  containerId = "ink-transition-container", 
  color = "var(--dark-text)", 
} = Astro.props;
---
<div class="flooder" id={containerId}>
    <div class="ink-rect"></div>
</div>

<style define:vars={{ color }}>
    .flooder {
    position: fixed; /* O absolute, ma deve avere altezza */
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* OBBLIGATORIO: definisce l'area massima */
    height: 100dvh;
    z-index: 999;
    pointer-events: none;
}

    .ink-rect {
    width: 100%;
    height: 100%; /* Prende i 100vh del padre */
    background-color: var(--color, #000);
    display: block !important; /* Forza la presenza */
    transform-origin: top center;
}
</style>